In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv("C:/files/programming/Python/2025/jupyter/datasets/covid_toy.csv")

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      90 non-null     float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [5]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [11]:
# prerocessing req
# age - perfecct , no pre processing req
# gender - nominal cat , ohe
# fever - null values  , impute , numerical 
# cough - ordinal , ordinal encoding
# city - nominal cat , ohe
# has_covid - label ,label encoder

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test , y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [21]:
X_train

    age  gender  fever   cough       city
10   75  Female    NaN    Mild      Delhi
68   54  Female  104.0  Strong    Kolkata
14   51    Male  104.0    Mild  Bangalore
72   83  Female  101.0    Mild    Kolkata
99   10  Female   98.0  Strong    Kolkata
..  ...     ...    ...     ...        ...
5    84  Female    NaN    Mild  Bangalore
95   12  Female  104.0    Mild  Bangalore
82   24    Male   98.0    Mild    Kolkata
76   80    Male  100.0    Mild  Bangalore
16   69  Female  103.0    Mild    Kolkata

[80 rows x 5 columns]

In [22]:
y_train

10     No
68     No
14     No
72     No
99    Yes
     ...
5     Yes
95     No
82    Yes
76    Yes
16    Yes
Name: has_covid, Length: 80, dtype: object

# Without Column Transformer

In [40]:
# simple imputer to fever_col
from sklearn.impute import SimpleImputer
si=SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

# also the test data
X_test_fever = si.transform(X_test[['fever']])

X_train_fever.shape
X_train_fever

array([[100.87142857],
       [104.        ],
       [104.        ],
       [101.        ],
       [ 98.        ],
       [101.        ],
       [102.        ],
       [ 99.        ],
       [101.        ],
       [100.        ],
       [103.        ],
       [100.87142857],
       [ 98.        ],
       [100.87142857],
       [ 98.        ],
       [100.        ],
       [ 98.        ],
       [102.        ],
       [ 99.        ],
       [102.        ],
       [100.        ],
       [102.        ],
       [102.        ],
       [103.        ],
       [ 98.        ],
       [ 99.        ],
       [104.        ],
       [102.        ],
       [100.87142857],
       [ 99.        ],
       [100.        ],
       [103.        ],
       [104.        ],
       [101.        ],
       [104.        ],
       [104.        ],
       [103.        ],
       [102.        ],
       [101.        ],
       [101.        ],
       [101.        ],
       [100.87142857],
       [100.        ],
       [103.        ],
       [100.87142857],
       [102.        ],
       [100.        ],
       [100.87142857],
       [ 99.        ],
       [103.        ],
       [ 99.        ],
       [101.        ],
       [100.        ],
       [ 99.        ],
       [101.        ],
       [ 98.        ],
       [ 98.        ],
       [100.87142857],
       [101.        ],
       [101.        ],
       [104.        ],
       [ 98.        ],
       [104.        ],
       [ 98.        ],
       [100.        ],
       [100.        ],
       [ 98.        ],
       [ 98.        ],
       [101.        ],
       [100.87142857],
       [104.        ],
       [102.        ],
       [100.        ],
       [101.        ],
       [100.        ],
       [100.87142857],
       [104.        ],
       [ 98.        ],
       [100.        ],
       [103.        ]])

In [37]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [44]:
# Ordinal Encoding -> cough
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder(categories=[['Mild','Strong']])

X_train_cough=oe.fit_transform(X_train[['cough']]) 

# test data
X_test_cough = oe.transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [55]:
# One Hot Encoding -> gender , city
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(drop='first',sparse_output=False)
X_train_gender_city=ohe.fit_transform(X_train[['gender','city']])

X_test_gender_city=ohe.transform(X_test[['gender','city']])

X_train_gender_city

array([[0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 1.],
       [0., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 1.],
       [0., 0., 0., 1.],
       [1., 1., 0., 0.],
       [1., 1., 0., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [1., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 1., 0., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [1., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 1., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.]])

In [56]:
# concatenating all the columns back together

In [78]:
# Extracting Age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values 
# here values converts it into array since we want values at the end to concatenate altogether

# also test data 
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values
X_train_age.shape

(80, 1)

In [75]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [89]:
X_train_transformed=np.concatenate((X_train_age,X_train_fever,X_train_cough,X_train_gender_city),axis=1)
X_test_transformed=np.concatenate((X_test_age,X_test_fever,X_test_cough,X_test_gender_city),axis=1)

X_train_transformed.shape

(80, 7)

## With Column Transformer

In [90]:
from sklearn.compose import ColumnTransformer

In [92]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [98]:
transformer.fit_transform(X_train).shape

(80, 7)

In [97]:
transformer.transform(X_test).shape

(20, 7)