In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = {
    "gender": ["male", "female", "female", "male", "female"],
    "lunch_type": ["standard", "free", "standard", "free", "standard"],
    "education_level": ["high school", "bachelor", "master", "phd", "bachelor"],
    "study_hours": [2, 5, 4, 6, 3],
    "final_score": [55, 78, 72, 88, 65]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head()

   gender lunch_type education_level  study_hours  final_score
0    male   standard     high school            2           55
1  female       free        bachelor            5           78
2  female   standard          master            4           72
3    male       free             phd            6           88
4  female   standard        bachelor            3           65

In [7]:
df['lunch_type'].unique()

array(['standard', 'free'], dtype=object)

In [8]:
df['education_level'].unique()

array(['high school', 'bachelor', 'master', 'phd'], dtype=object)

In [9]:
df["study_hours"].unique()

NameError: name 'study_hours' is not defined