In [1]:
# working with csv files

In [2]:
# local files
import pandas as pd
df = pd.read_csv("C:/files/programming/Python/2025/jupyter/wine.csv")
df

   Unnamed: 0  id     name  age
0           0   1    Alice   25
1           1   2      Bob   30
2           2   3  Charlie   28

In [3]:
# from url
import requests
from io import StringIO

url = "https://raw.githubusercontent.com/laxmimerit/All-CSV-ML-Data-Files-Download/master/Restaurant%20-%20Foods.csv"

req = requests.get(url)
data = StringIO(req.text)

df = pd.read_csv(data)
df.head()

   Food ID   Food Item  Price
0        1       Sushi   3.99
1        2     Burrito   9.99
2        3        Taco   2.99
3        4  Quesadilla   4.25
4        5       Pizza   2.49

# SQL

In [4]:
# !pip install mysql.connector

In [8]:
import mysql.connector

In [11]:
conn = mysql.connector.connect(host='localhost',user='root',password='',database='world')

In [18]:
sql=pd.read_sql_query("SELECT * FROM city where CountryCode='AFG' ",conn)
sql

C:\Users\Kartik\AppData\Local\Temp\ipykernel_17232\566420948.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sql=pd.read_sql_query("SELECT * FROM city where CountryCode='AFG' ",conn)

   ID            Name CountryCode  District  Population
0   1           Kabul         AFG     Kabol     1780000
1   2        Qandahar         AFG  Qandahar      237500
2   3           Herat         AFG     Herat      186800
3   4  Mazar-e-Sharif         AFG     Balkh      127800

# API

In [19]:
import pandas as pd
import requests

In [22]:
response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=ec399ba5a8d948a40a84c1512501aac9&include_adult=false&include_video=false&language=en-US&page=1&sort_by=popularity.desc')

In [39]:
# response.json()['results']
df=pd.DataFrame(response.json()['results'])[['id','title','overview']]

In [40]:
df.head()

,id,title,overview
0,83533,Avatar: Fire and Ash,In the wake of the devastating war against the...
1,982843,The Great Flood,When a raging flood traps a researcher and her...
2,425274,Now You See Me: Now You Don't,The original Four Horsemen reunite with a new ...
3,1223601,Sisu: Road to Revenge,Returning to the house where his family was br...
4,1084242,Zootopia 2,After cracking the biggest case in Zootopia's ...

In [41]:
# this was for a single page
# now for multiple pages we'll form a loop
# we'll:
# 1-make a new df
# 2=append it in the main df

In [47]:
for i in range (1,500):
    response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=ec399ba5a8d948a40a84c1512501aac9&include_adult=false&include_video=false&language=en-US&page={}&sort_by=popularity.desc'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview']]
    df=df.append(temp_df,ignore_index=True)
# this wont work rn - use some proper url

AttributeError: 'DataFrame' object has no attribute 'append'