In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("C:/files/programming/Python/2025/jupyter/datasets/train.csv",usecols=['Age','Fare','Survived'])

In [14]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [4]:
df.isnull().mean()

Survived    0.000000
Age         0.198653
Fare        0.000000
dtype: float64

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['Survived']),df['Survived'],test_size = 0.2 )

In [12]:
X_train['Age_imputed']=X_train['Age']
X_test['Age_imputed']=X_train['Age']
X_train['Fare_imputed']=X_train['Fare']

In [7]:
X_train.head()

      Age      Fare  Age_imputed  Fare_imputed
118  24.0  247.5208         24.0      247.5208
109   NaN   24.1500          NaN       24.1500
298   NaN   30.5000          NaN       30.5000
456  65.0   26.5500         65.0       26.5500
424  18.0   20.2125         18.0       20.2125

In [8]:
# # chained assignment -> deprecated
# X_train['Age_imputed'][X_train['Age_imputed'].isnull()]=X_train['Age'].dropna().sample(X_train['Age'].isnull().sum(),replace = True).values
# X_test['Age_imputed'][X_test['Age_imputed'].isnull()]=X_train['Age'].dropna().sample(X_test['Age'].isnull().sum(),replace = True).values

In [9]:
train_mask = X_train['Age_imputed'].isnull()

X_train.loc[train_mask , 'Age_imputed'] = (
    X_train['Age'].dropna().sample(train_mask.sum(),replace=True).values
)

In [10]:
test_mask = X_test['Age_imputed'].isnull()

In [11]:
train_mask = X_train['Age_imputed'].isnull()

KeyError: ''